/**
 * 打印简历时用
 */

/*去除chrome打印的链接显示*/
@media print {
	a[href]:after {
	content: none !important;
	}

	a{
		color :#0088cc !important;
	}
}

/*不显示简历不需要的部分*/
footer, .nav-list, .navbar{
	display:none;
}

/*缩小字体*/
body{
	-webkit-text-size-adjust:none;	
  	font-size:12px;
 	/*padding-top: 0;*/
}